tickTime=2000
initLimit=10
syncLimit=5
dataDir=/var/lib/zookeeper
clientPort=2181
server.1={{ansible_hostname}}:2888:3888
server.2={{ansible_hostname}}:2888:3888
server.3={{ansible_hostname}}:2888:3888
autopurge.snapRetainCount=10
autopurge.purgeInterval =12
